*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    min-height:100vh;
    background:url("loginimg/login\ background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width:100%;
    background-blend-mode:overlay;
    background-color:rgba(0,0,0,.5);
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto;
    justify-content:space-between;
}
form{
    border:1px solid white;
    width:40%;
    margin:100px auto 0;
    background:rgba(0,0,0,.5);
}
.item-1{
    display:flex;
    align-items:center;
    margin: 20px auto;
}
.item-1 img{
    width:13%;
    border-radius:50px;
    text-align:center;
    margin:0 auto;
}
input{
    display:block;
    margin:20px auto;
    width:60%;
    padding:10px;
    border-radius:10px;
    border:none;
}
.link-1{
    display:block;
    width:20%;
    cursor:pointer;
    transition:all 2s;
    background:rgb(175, 172, 172);
    margin:10px auto 20px;
    padding:10px;
    text-align:center;
    color:black;
    border-radius:10px;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
}
.link-1:hover{
    background:transparent;
    border:1px solid black;
    width:30%;
    color:#fff;  
}

@media screen and (max-width:750px){
    form{
        width:90%;
        margin:40px auto;
    }
    .item-1 img{
        width:20%;
    }
    input{
        width:90%;
    }
    input[type="submit"]{
        width:35%;
    }


}